@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";
* {
  box-sizing: border-box;
}
.home-page {
  height: 100%;
  @include flex(1);
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin: auto;
  max-width: calc(1200px - 1%);
  .row-container {
    margin-top: 10px;
    padding: 4.9282576866764276% 10px;
    @media (min-width: 992px) {
      margin-top: 30px;
      padding: 0.9282576866764276% 1%;
    }
    @media (min-width: 1200px) {
      padding: 0.9282576866764276% 10px;
    }
    @include flexbox();
    position: relative;
    width: 100%;
    @include flex-direction(column);
    @media (min-width: 992px) {
      @include flex-direction(row);
      @include align-items(flex-start);
    }
    @include justify-content(space-between);
    @include align-items(center);
    height: 100%;
    .left {
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $light-silver;
        -webkit-animation: slideinEffectImg 0.9s forwards; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slideinEffectImg 0.9s forwards; /* Firefox < 16 */
        -ms-animation: slideinEffectImg 0.9s forwards; /* Internet Explorer */
        -o-animation: slideinEffectImg 0.9s forwards; /* Opera < 12.1 */
        animation: slideinEffectImg 0.9s forwards;
        animation-delay: 0.1s;
        -webkit-animation-delay: 0.1s;
        transform-origin: right;
      }
      position: relative;
      @include flex(1);
      @include flexbox();
      @include flex-direction(column);
      @include align-items(flex-start);
      @include justify-content(center);
      margin-top: 30px;
      @media (min-width: 992px) {
        margin-top: 0px;
      }
      position: relative;
      h1.big {
        &::selection {
          background: transparent;
          color: unset;
        }
        color: $primary-color;
        font-size: 80px;
        line-height: 60px;
        @media (min-width: 992px) {
          font-size: 140px;
          line-height: 110px;
        }
        margin: 0;
        font-family: "Babas", sans-serif;
      }

      h4.light {
        color: $black-text;
        font-family: "BabasLight", sans-serif;
        font-weight: lighter;
        font-size: 30px;
        line-height: 29px;
        padding: 0;
        padding-left: 5px;
        margin: 0;
      }

      h3.dark {
        &::selection {
          background: transparent;
          color: unset;
        }
        color: $black-text;
        font-family: "Babas", sans-serif;
        font-weight: lighter;
        font-size: 60px;
        line-height: 60px;
        padding: 0;
        margin: 0;
      }

      p.sub-title-p {
        font-family: "Avenir", sans-serif;
        &::selection {
          background: transparent;
          color: unset;
        }
        color: $dark-silver;
        font-size: 14px;
        text-align: left;
        margin: 20px 0;
        max-width: 510px;
        padding: 0;
        strong {
          font-family: "Avenir", sans-serif;
          &::selection {
            background: transparent;
            color: unset;
          }
        }
      }

      .buttons-container {
        @include flexbox();
        @include align-self(flex-start);
        @include flex-direction(column);
        @include flex-wrap(wrap);
        margin-top: 40px;
        @media (min-width: 992px) {
          margin-top: 60px;
          max-width: 509px;
          @include flex-direction(row);
        }
        .button-rounded-link {
          @media (min-width: 992px) {
            margin-top: 0;
          }

          &:nth-child(2) {
            margin-top: 20px;
            @media (min-width: 992px) {
              margin-top: 0;
            }
          }
        }
        @include flex(1);
        width: 100%;
        @include justify-content(space-between);
      }
    }
    .right {
      @include flex(1);
      margin-top: 20px;
      width: 100%;
      position: relative;
      justify-self: center;
      @include align-items(center);
      display: none;
      @media (min-width: 992px) {
        margin-top: 0;

        @include flexbox();
        justify-self: flex-end;
        @include align-items(flex-start);
      }
      @include justify-content(flex-end);
      svg {
        width: 100%;
        height: 100%;
        max-width: 450px;
        path {
          @include transition(all, 0.6s, ease-in-out);
        }
        &:hover {
          #Path_11 {
            fill: $primary-color;
          }
          #Path_12,
          #Path_13 {
            fill: $white;
          }
        }
      }
    }
  }
}
