@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";
.upcoming-events-card-slider {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(flex-start);
  position: relative;
  width: 100%;
  background: $white;
  padding: 10px;
  @media (min-width: 768px) {
    padding: 30px;
  }
.img-container-slide-custom{
  height: 200px;
  @media (min-width: 768px) {
    height: 280px;
  }
  position: relative;
  background: $black-text;
  padding: 0;
  margin: 0;
  img{

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

  h3 {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-family: "Babas", sans-serif;
    color: $primary-color;
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    @media (min-width: 768px) {
      padding-bottom: 14px;
    }
  }
  img {

    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
  }
  .content {
    @include flexbox();
    width: 100%;
    padding-top: 10px;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(flex-start);
    .text {
      @include flexbox();
      @include flex-direction(column);
      .item {
        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-start);
        span.icon {
          @include flexbox();
          @include align-items(center);
          @include justify-content(flex-end);
          width: 24px;
          height: 30px;
          min-height: 30px;
          min-width: 24px;
          margin-right: 10px;
          @include flex(1);
          svg {
            width: 100%;
            height: 100%;
            max-width: 24px;
            max-height: 30px;
          }
        }
        h4 {
          @include flexbox();
          @include align-items(center);
          @include justify-content(flex-start);
          @include flex(12);
          width: 100%;
          font-family: "Avenir", sans-serif;
          font-size: 18px;
          font-weight: 800;
          margin-top: 10px;
        }
        h5 {
          @include flexbox();
          width: 100%;
          @include align-items(center);
          @include justify-content(flex-start);
          @include flex(12);
          font-family: "Avenir", sans-serif;
          font-size: 12px;
          font-weight: 400;
        }
        h6 {
          @include flexbox();
          width: 100%;
          @include align-items(center);
          @include justify-content(flex-start);
          @include flex(12);
          font-family: "Avenir", sans-serif;
          font-size: 14px;
          margin-top: 10px;
          font-weight: 800;
        }
      }
    }
    .free-or-paid {
      background: $primary-color;
      padding: 8px 16px;
      color: $black-text;
      text-transform: lowercase;
      border-radius: 10px;
      font-family: "Avenir", sans-serif;
      font-weight: 800;
    }
  }
  .description {
    font-family: "Avenir", sans-serif;
    font-size: 12px;
    min-height: 60px;
    color: $black-text;
    line-height: 20px;
    margin-top: 6px;
  }
  .footer {
    @include flexbox();
    width: 100%;
    @include justify-content(space-between);
    @include flex-direction(row);
    @include flex(1);
    padding-top: 30px;
    button {
      svg {
        @include flex(1);
        width: 100%;
        cursor: pointer;
        @include transition(all, 0.2s, ease-in-out);
        path {
          @include transition(all, 0.2s, ease-in-out);
        }
        &:hover {
          path {
            fill: $primary-color;
          }
        }
      }
    }

    .dots {
      @include flex(1);
      @include flexbox();
      width: auto;
      max-width: 70px;
      @include justify-content(space-between);
      @include align-items(center);
      button.dot {
        margin-right: 6px;
        &:focus {
          margin-right: 0;
        }
        @include transition(all,0.2s,ease-in-out);
        &:active{
          @include transform(scale(.9));
        }
        width: 21px;
        height: 21px;
        max-width: 21px;
        max-height: 21px;
        background: transparent;
        border: 1px solid $primary-color;
        border-radius: 100%;
        &.active {
          background: $primary-color;
        }
      }
    }
    .navigation-items-carousel-ux{
      @include flexbox();
      @include justify-content(space-between);
      @include flex-direction(row);
      @include align-items(center);
      width: 100%;
      .dots-cont{
        @include flexbox();
        @include flex(1);
        @include align-items(center);
        @include justify-content(center);
        span.dot{
          display: block;
          height: 21px;
          max-height: 21px;
          max-width: 21px;
          width: 21px;
          border: 1px solid $primary-color;
          @include border-radius(100%);
          cursor: pointer;
          margin-right: 5px;
          background: transparent;
          &:last-child{
            margin-right: unset;
          }
          &.filled{
            background: $primary-color;
          }
        }
      }
      .nav-svg-arrow-btn{
        @include flex(1);
        background: transparent;
        border: 0;
        &:focus{
          outline: none;
        }
        &:hover{
          svg{
            path{
              fill: $primary-color;
            }
          }
        }
      }
    }
  }

}
