@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.user-talent-profile-page {
  width: 100%;
  @include flexbox();
  @include justify-content(center);
  padding-top: 30px;
  .row-container {
    @include flexbox();
    width: 100%;
    position: relative;
    @include flex-wrap(flex-reverse);
    @include flex-direction(column-reverse);
    @include justify-content(space-between);
    @include align-items(stretch);
    max-width: calc(1200px - 1%);
    @media (min-width: 992px) {
      padding-bottom: unset;
      height: 100%;
      @include flex-direction(row);
      @include align-items(stretch);
      @include justify-content(space-between);
    }
    opacity: 0;
    -webkit-animation: fadein 1s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s forwards; /* Firefox < 16 */
    -ms-animation: fadein 1s forwards; /* Internet Explorer */
    -o-animation: fadein 1s forwards; /* Opera < 12.1 */
    animation: fadein 1s forwards;
  }
  .left {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(stretch);
    @include justify-content(flex-start);
    @include flex(1);
    width: 100%;
    height: auto;
    @media (min-width: 992px) {
      width: 50%;
      max-width: calc(50% - 30px);
    }
    position: relative;
    .dark-btn {
      &:focus {
        outline: none;
      }
      justify-self: flex-end;
      align-self: flex-end;
      outline: none;
      margin: 0;
      margin-top: auto;
      border: none;
      position: relative;
      max-height: 70px;
      min-height: 60px;
      width: 100%;
      text-align: center;
      font-family: "Babas", sans-serif;
      font-size: 20px;
      @media (min-width: 992px) {
        font-size: 30px;
      }
      color: $primary-color;
      background: transparent;
      border-radius: 5px;
      background: $black-text;
      @include transition(all, 0.2s, ease-in-out);
      overflow: hidden;
      &:active {
        @include transform(scale(0.97));
      }
      &:hover {
        color: white;
        &:before {
          width: 800px;
          height: 800px;
        }
      }
    }
    .top {
      justify-self: flex-start;
      position: relative;
      @include flexbox();
      @include align-items(flex-start);
      @include justify-content(space-between);
      @include flex-direction(row);
      background: #f8f7f7;
      z-index: 2;
      max-width: 90%;
      padding: 10px 10px;
      margin-left: 5%;
      @media (min-width: 992px) {
        margin-top: unset;
        margin-left: unset;
        padding: unset;
        max-width: unset;
        width: 100%;
      }
      h1 {
        font-family: "Babas", sans-serif;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        padding: 0;

        color: $primary-color;
        @media (min-width: 992px) {
          font-size: 50px;
          line-height: 50px;
        }
      }
      h2 {
        font-size: 14px;
        font-family: "Avenir", sans-serif;
        text-transform: capitalize;
        @media (min-width: 992px) {
          font-size: 20px;
        }
      }
      .confirmed-container {
        padding-top: 10px;
        @include flexbox();
        @include align-items(center);
        span {
          font-family: "Babas", sans-serif;
          color: $black-text;
          font-size: 20px;
          margin-right: 14px;
        }
      }
    }
    .content {
      height: auto;
      @include align-self(stretch);
      justify-self: flex-start;
      position: relative;
      p {
        font-family: "Avenir", sans-serif;
        font-size: 14px;
      }
      border-bottom: 2px solid $light-silver;
    }
    .bottom-elements {
      position: relative;
      @include flexbox();
      @include flex(1);
      width: 100%;
      @include flex-direction(column);
      @include align-items(flex-start);
      @include justify-content(space-between);
      height: auto;
      .items-list {
        @include flexbox();
        @include flex-direction(column);
        width: 100%;
      }
      .item {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        width: 100%;
        @include flex(1);
        padding: 13px 0;
        svg {
          width: 25px;
          height: 25px;
        }
        p {
          font-family: "Avenir", sans-serif;
          font-size: 10px;
          font-weight: 400;
          margin: 0;
          padding: 0;
          @media (min-width: 992px) {
            font-size: 14px;
          }
        }
        h4 {
          @include flex(1);
          padding: 0;
          margin: 0;
          margin-left: 16px;
          font-family: "Avenir", sans-serif;
          font-size: 14px;
          color: $black-text;
          font-weight: 700;
        }
        button.vote-btn {
          &:active {
            outline: none;
            @include transform(scale(0.95));
          }
          svg {
            width: 18px;
            path {
              fill: $black-text;
            }
          }
          position: relative;
          width: auto;
          min-width: 100px;
          outline: none;
          background: $primary-color;
          border: none;
          min-height: 28px;
          border-radius: 3px;
          font-size: 18px;
          font-family: "Babas", sans-serif;
          color: $black-text;
          box-shadow: 8px 8px 10px rgba(255, 204, 0, 0.2);
          cursor: pointer;
          @include transition(all, 0.2s, ease-in-out);
          &:hover {
            background: white;
            color: $black-text;
            span.number {
              color: $primary-color;
            }
          }
          span.number {
            color: white;
            @include transition(all, 0.2s, ease-in-out);
          }
        }
      }
    }
  }
  .right {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex(1);
    height: auto;
    max-width: 100%;
    width: 100%;
    min-height: 300px;
    @media (min-width: 992px) {
      min-height: 560px;
      max-width: calc(50% - 30px);
      width: 100%;
      max-height: 600px;
    }
    position: relative;
    .img-container {
      position: absolute;
      @include flexbox();
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 20%;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $light-silver;
        -webkit-animation: slideinEffectImg 0.6s forwards; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slideinEffectImg 0.6s forwards; /* Firefox < 16 */
        -ms-animation: slideinEffectImg 0.6s forwards; /* Internet Explorer */
        -o-animation: slideinEffectImg 0.6s forwards; /* Opera < 12.1 */
        animation: slideinEffectImg 0.6s forwards;
        animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
        transform-origin: right;
        -webkit-transform-origin: right;
      }
    }

    .close-btn-round {
      cursor: pointer;
      &:active {
        outline: none;
        @include transform(scale(0.95));
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        border-radius: 100%;
        background: $black-text;
        transform-origin: center center;
        -webkit-transform-origin: center center;
        @include transition(all, 0.2s, ease-in-out);
      }
      &:hover {
        &:before {
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
        svg#ico-svg-back-plus {
          @include transform(rotate(315deg));
          -webkit-animation: fade-out 0.4s forwards 0.1s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fade-out 0.4s forwards 0.1s; /* Firefox < 16 */
          -ms-animation: fade-out 0.4s forwards 0.1s; /* Internet Explorer */
          -o-animation: fade-out 0.4s forwards 0.1s; /* Opera < 12.1 */
          animation: fade-out 0.4s forwards 0.1s;
          animation-delay: 0.1s;
        }
        .arrow-container-go-back {
          max-width: 42px;
          max-height: 40px;
          svg {
            -webkit-animation: fade_in_and_rotate 0.4s forwards 0.1s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fade_in_and_rotate 0.4s forwards 0.1s; /* Firefox < 16 */
            -ms-animation: fade_in_and_rotate 0.4s forwards 0.1s; /* Internet Explorer */
            -o-animation: fade_in_and_rotate 0.4s forwards 0.1s; /* Opera < 12.1 */
            animation: fade_in_and_rotate 0.4s forwards 0.1s;
          }
        }
      }
      svg {
        @include transition(all, 0.3s, ease-out);
      }
      svg#ico-svg-back-plus {
        opacity: 1;
      }
      .arrow-container-go-back {
        position: absolute;
        z-index: 1;
        left: 16px;
        top: 22px;
        width: 28px;
        @media (min-width: 992px) {
          left: 21px;
          top: 29px;
          width: 35px;
        }
        svg {
          opacity: 0;
          width: 100%;
          height: 100%;
          path {
            fill: $primary-color;
          }
        }
      }
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      @include transition(all, 0.2s, ease-in-out);
      position: absolute;
      z-index: 3;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      top: -30px;
      right: 20px;
      left: unset;
      @media (min-width: 992px) {
        width: 80px;
        height: 80px;
        top: calc(50% - 50px);
        left: -40px;
        right: unset;
      }

      background: #f8f7f7;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// slide img animation

@keyframes slideinEffectImg {
  from {
    @include transform(scaleX(1));
  }
  to {
    @include transform(scaleX(0));
  }
}

/* Firefox < 16 */
@-moz-keyframes slideinEffectImg {
  from {
    @include transform(scaleX(1));
  }
  to {
    @include transform(scaleX(0));
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideinEffectImg {
  from {
    @include transform(scaleX(1));
  }
  to {
    @include transform(scaleX(0));
  }
}

/* Internet Explorer */
@-ms-keyframes slideinEffectImg {
  from {
    @include transform(scaleX(1));
  }
  to {
    @include transform(scaleX(0));
  }
}

/* Opera < 12.1 */
@-o-keyframes slideinEffectImg {
  from {
    @include transform(scaleX(1));
  }
  to {
    @include transform(scaleX(0));
  }
}

@include keyframes(fade-out) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fade_in_and_rotate) {
  0% {
    opacity: 0;
    @include transform(rotate(-180deg));
  }
  100% {
    opacity: 1;
    @include transform(rotate(0deg));
  }
}
