@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.user-talent-profile-page {
  @include flexbox();

  position: relative;
  @include flex-wrap(flex-reverse);
  @include flex-direction(column-reverse);
  @include justify-content(space-between);
  @include align-items(flex-start);
  width: 100%;
  @media (min-width: 992px) {
    @include flex-direction(row);
  }
  .left {
    padding-bottom: 20px;
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(stretch);
    min-height: calc(100vh - 150px);
    flex: 1;
    @media (min-width: 992px) {
      max-width: calc(50% - 30px);
    }
    position: relative;
    .dark-btn{
      justify-self: flex-end;
      align-self: flex-end;
      bottom: 0;
      margin-top: 60px;
      position: relative;
      max-height: 70px;
      min-height: 60px;
      width: 100%;
      text-align: center;
      font-family: "Babas", sans-serif;
      font-size: 20px;
      @media (min-width: 992px) {
        font-size: 30px;
      }
      color:$primary-color;
      background: $black-text;
      border-radius: 5px;
      cursor: pointer;
      @include transition(all, 0.2s, ease-in-out);
      &:hover{
        color: white;
      }
    }
    .top {
      @include align-self(stretch);
      justify-self: flex-start;
      position: relative;
      @include flexbox();
      @include align-items(flex-start);
      @include justify-content(space-between);
      @include flex-direction(row);
      margin-top: -40px;
      background: #F8F7F7;
      z-index: 2;
      max-width: 90%;
      padding:10px 10px ;
      margin-left: 5%;
      @media (min-width: 992px) {
        margin-top: 0;
        margin-left: unset;
        padding:unset;
        max-width: unset;
        background: #F8F7F7;
      }
      h1 {
        font-family: "Babas", sans-serif;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        padding: 0;

        color: $primary-color;
        @media (min-width: 992px) {
          font-size: 50px;
          line-height: 50px;
        }
      }
      h2 {
        font-size: 14px;
        font-family: "Avenir", sans-serif;
        text-transform: capitalize;
        @media (min-width: 992px) {
          font-size: 20px;
        }
      }
      .confirmed-container {
        padding-top: 10px;
        @include flexbox();
        @include align-items(center);
        span {
          font-family: "Babas", sans-serif;
          color: $black-text;
          font-size: 20px;
          margin-right: 14px;
        }
      }
    }
    .content {
      @include align-self(stretch);
      justify-self: flex-start;
      position: relative;
      p {
        font-family: "Avenir", sans-serif;
        font-size: 14px;
      }
      border-bottom: 2px solid $light-silver;
    }
    .footer {
      position: relative;
      @include flexbox();
      @include flex-direction(column);
      @include align-self(stretch);
      justify-self: flex-start;
      .item {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        flex: 1;
        padding: 13px 0;
        svg {
          width: 25px;
          height: 25px;
        }
        p {
          font-family: "Avenir", sans-serif;
          font-size: 10px;
          font-weight: 400;
          @media (min-width: 992px) {
            font-size: 14px;
          }
        }
        h4 {
          flex: 1;
          padding: 0;
          margin: 0;
          margin-left: 16px;
          font-family: "Avenir", sans-serif;
          font-size: 14px;
          color: $black-text;
          font-weight: 700;
        }
        button {
          background: $primary-color;
          border: none;
          min-height: 28px;
          border-radius: 3px;
          font-size: 18px;
          font-family: "Babas", sans-serif;
          color: $black-text;
          box-shadow: 8px 8px 10px rgba(255, 204, 0, 0.2);
          cursor: pointer;
          @include transition(all, 0.2s, ease-in-out);
          &:hover {
            background: white;
            color: $black-text;
            span.number {
              color: $primary-color;
            }
          }
          span.number {
            color: white;
            @include transition(all, 0.2s, ease-in-out);
          }
        }
        .next-btns {
          @include flexbox();
          @include align-items(center);
          p {
            margin: 0;
            margin-right: 10px;
            padding: 0;
          }
          button {
            background: transparent;
            @include flexbox();
            @include align-items(center);
            min-height: 31px;
            border-radius: 5px;
            border: 1px solid $light-silver;
            svg {
              margin-left: 6px;
              width: 16px;
            }
            font-family: "Babas", sans-serif;
            color: $black-text;
            font-size: 16px;
            cursor: pointer;
            @include transition(all, 0.2s, ease-in-out);
            &:hover {
              background: $primary-color;
              svg {
                path {
                  fill: $black-text;
                }
              }
            }
          }
        }
      }
    }
  }
  .right {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(stretch);
    flex: 1;
    max-height: 300px;
    height: calc(100vh - 200px);
    max-width: 100%;
    width: 100%;
    @media (min-width: 992px) {
      max-width: calc(50% - 30px);
      width: calc(50% - 30px);
      max-height: 100vh;
      height: calc(100vh - 220px);
    }
    position: relative;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .close-btn-round{
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      position: absolute;
      z-index: 3;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      top: -40px;
      right: 20px;
      left: unset;
      @media (min-width: 992px) {
        top: calc(50% - 80px);
        left: -40px;
        right: unset;
      }

      background: #F8F7F7;
    }
  }
}
