@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";
.filter-card {
  border: none !important;
  outline: none !important;
  &:hover{
    box-shadow: 20px 20px 20px rgba(35, 29, 6, 0.1);
  }
  max-height: 60px;
  @media (min-width: 992px) {
    max-height: 100px;
  }
  @include transition(all, 0.2s,ease-in-out);

  .list-filter{
    cursor: pointer;
    position: absolute;
    @include border-radius( 10px);
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(flex-start);
    @include transform(scaleY(0));
    transform-origin: top ;
    -webkit-transform-origin: top center;
    width: 100%;
    background: $white;
    top: 48px;
    left: 0;
    z-index: 1;
    padding-left: 15px;
    @media (min-width: 992px) {
      padding-left: 30px;
      top: 80px;
    }
    ul{
      position: relative;
      padding: 0;
      margin: 10px 0;
      list-style: none;
      font-family: "BabasLight", sans-serif;
      font-weight: 600;
      li{

        cursor: pointer;
        position: relative;
        padding: 0;
        text-transform: uppercase;
        font-size: 24px;

        @media (min-width: 992px) {
          font-size: 38px;
        }
        text-align: left;
        color: #919191;
        input[type='checkbox']{
          cursor: pointer;
          display: none;
          &:checked + label{
            cursor: pointer;
            color: $black-text;
            &:before{
              width: 20px;
              @media (min-width: 992px) {
                width: 30px;
              }
            }
          }
        }
        label{
          @include transition(all,0.2s,ease-in-out);

          position: relative;
          @include transition(all, 0.2s,ease-in-out);
          margin-left: 8px;
          @media (min-width: 992px) {
            margin-left: 10px;
          }
          &:before{
            @include transition(all, 0.2s,ease-in-out);
            transform-origin: right center;
            -webkit-transform-origin: right center;
            content: "";
            display: block;
            position: absolute;
            left: -24px;
            @media (min-width: 992px) {
              left: -40px;
            }
            top: 40%;
            height: 2px;
            width: 0px;
            background: $primary-color;
          }
        }
      }
    }
  }
  box-shadow: 20px 20px 20px rgba(35, 29, 6, 0.05);
  &.active{
    border: 0;
    outline: none;
    box-shadow: 20px 20px 20px rgba(35, 29, 6, 0.01);
    .list-filter{
      box-shadow: 20px 20px 20px rgba(35, 29, 6, 0.05);

    }
  }
  position: relative;
  padding: 0 20px;
  @include flexbox();
  grid-row:span 1;

  width: 100%;
  justify-self: stretch;
  grid-column: 1 / 3;

  @media (min-width: 768px) {
    @include justify-content(space-between);
    @include flex-direction(row);
    grid-column: 1 / 4;
    svg {
      max-width: unset;
    }
  }
  @media (min-width: 992px) {
    grid-column: 1 / 4;
  }
  @media (min-width: 1300px) {
    grid-column: 1 / 4;
  }

  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(space-between);
  svg {
    cursor: pointer;
    max-width: 30px;
  }
  @include border-radius( 10px);
  background: $white;


  h1 {

    &::selection{
      background: transparent;
    }
    position: relative;
    width: 100%;
    @include transition(all,0.2s,ease-in-out);
    &:active{
      outline: none;
      @include transform(scale(.99));
    }
    cursor: pointer;
    color: $dark-silver;
    font-family: "Babas", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    padding: 0;
    text-align: left;
    margin: 0;
    margin-left: 5px;
    @media (min-width: 992px) {
      font-size: 30px;
      margin-left: 20px;
    }
  }
}
