@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.carousel-ux{
  top: 0;
  left: 0;
  height: 100%;

  .ant-carousel{
    height: 100%;
    max-height: 630px;

    .slick-slide{
      div{
        height: 100%;
        max-height: 630px;
        img{
          max-height: 630px;
          max-width:none;
          min-width:100%;
          width:100%;
          height: 68vh;
          object-fit: cover;
        }
      }
    }
    .slick-dots{
      position: absolute;
      bottom:50px;
      z-index: 1;
      height: 20px;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      li{
        height: 20px;
        width: 20px;
        border: 1px solid $primary-color;
        @include border-radius(100%);
        button{
          font-size: 0;
          background: transparent !important;
          @include border-radius(100%);
          height: 100%;
          width: 100% !important;
          top: 0;
        }
        &.slick-active{
          background: $primary-color;
        }
      }
    }
  }

  .navigation-items-carousel-ux{
    width: 100%;
    @include flexbox();
    @include justify-content(space-between);
    position: absolute;
    height: 100px;
    bottom: 54px;
    @media (min-width: 768px) {
      height: 20px;
      bottom: 96px;
    }
    button{
      &:active{
        @include transform(scale(.9));
      }
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      height: 80px;
      background: transparent;
      padding: 20px;
      max-width: 160px;
      margin: 0;
      position: relative;
      @include flex(1);
      border: none;
      cursor: pointer;
      outline: none;
      @include transition(all,0.2s,ease-in-out);
      svg{
        path{
          fill: $white;
          @include transition(all,0.2s,ease-in-out);
        }
      }
      &:focus{
        outline: none;
      }
      &:hover{
        svg{
          path{
            fill:$primary-color
          }
        }
      }
    }
  }
}