@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.profile-host-page {
  @include flexbox();
  @include justify-content(center);
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  .row-container {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-direction(column-reverse);
    @media (min-width: 992px) {
      @include flex-direction(row);
      @include align-items(stretch);

      padding-bottom: unset;
    }
    max-width: calc(1200px - 10px);
    width: 100%;
    padding-bottom: 60px;
  }

  .left {
    @include flex(1);
    width: 100%;
    max-width: 550px;
    @include flexbox();
    @include flex-direction(column);
    .top {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(flex-start);
      .title {
        h1 {
          font-family: "Babas", sans-serif;
          font-size: 50px;
          line-height: 40px;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
          color: $primary-color;
        }
        h2 {
          font-family: "Avenir", sans-serif;
          font-size: 20px;
          color: #232323;
          text-transform: capitalize;
          margin: 0;
          padding: 0;
        }
      }
      .confirmed-box {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        font-family: "Babas", sans-serif;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        svg {
          margin-left: 10px;
        }
      }
    }
    p.description {
      margin-top: 20px;
      color: #5a574c;
      line-height: 24px;
      font-size: 14px;
      font-family: "Avenir", sans-serif;
    }
    .bottom {
      position: relative;
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      @include flex-wrap(nowrap);
      width: 100%;
      height: auto;
      svg {
        @include flex(1);
        width: 28px;
        max-width: 30px;
        margin-right: 10px;
        path {
          fill: $primary-color;
        }
      }
      h3 {
        @include flex(1);
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-family: "Avenir", sans-serif;
        color: #232323;
        text-transform: capitalize;
        font-weight: bold;
      }
      button.vote-btn {
        &:active {
          outline: none;
          @include transform(scale(0.95));
        }
        position: relative;
        min-width: 100px;
        outline: none;
        background: $primary-color;
        border: none;
        min-height: 28px;
        border-radius: 3px;
        font-size: 18px;
        font-family: "Babas", sans-serif;
        color: $black-text;
        box-shadow: 8px 8px 10px rgba(255, 204, 0, 0.2);
        @include transition(all, 0.2s, ease-in-out);
        &:hover {
          background: white;
          color: $black-text;
          span.number {
            color: $primary-color;
          }
        }
        span.number {
          color: white;
          @include transition(all, 0.2s, ease-in-out);
        }
      }
    }
    .form-host {
      position: relative;
      @include flexbox();
      @include flex-direction(column);
      margin-top: 20px;
      width: 100%;
      textarea {
        margin-bottom: 0 !important;
        border-radius: 0;
        font-family: "Babas", sans-serif;
        color: #232323;
        background: #f0f0f0;
        border: none;
        font-size: 20px;
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
      .ant-form-item {
        margin-bottom: 0 !important;
        border-radius: 0;
      }
      .submit-btn-host {
        margin-top: -20px;
        @include flex(1);
        position: relative;
        width: 100%;
        border: none;
        outline: none;
        text-transform: uppercase;
        color: $primary-color;
        font-family: "Babas", sans-serif;
        font-size: 30px;
        background: #232323;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        @include border-radius(4px);
        @include transition(all, 0.3s, ease-in-out);
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          background: $primary-color;
          color: #232323;
        }
        span {
          position: relative;
          display: block;
          margin: auto;
          padding: 10px;
        }
      }
    }
  }
  .right {
    .close-btn-round {
      cursor: pointer;
      &:active {
        outline: none;
        @include transform(scale(0.95));
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        border-radius: 100%;
        background: $black-text;
        transform-origin: center center;
        -webkit-transform-origin: center center;
        @include transition(all, 0.2s, ease-in-out);
      }
      &:hover {
        &:before {
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
        svg#ico-svg-back-plus {
          @include transform(rotate(315deg));

          -webkit-animation: fade-out 0.4s forwards 0.1s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fade-out 0.4s forwards 0.1s; /* Firefox < 16 */
          -ms-animation: fade-out 0.4s forwards 0.1s; /* Internet Explorer */
          -o-animation: fade-out 0.4s forwards 0.1s; /* Opera < 12.1 */
          animation: fade-out 0.4s forwards 0.1s;
          animation-delay: 0.1s;
        }
        .arrow-container-go-back {
          svg {
            -webkit-animation: fade_in_and_rotate 0.4s forwards 0.1s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fade_in_and_rotate 0.4s forwards 0.1s; /* Firefox < 16 */
            -ms-animation: fade_in_and_rotate 0.4s forwards 0.1s; /* Internet Explorer */
            -o-animation: fade_in_and_rotate 0.4s forwards 0.1s; /* Opera < 12.1 */
            animation: fade_in_and_rotate 0.4s forwards 0.1s;
          }
        }
      }
      svg {
        @include transition(all, 0.3s, ease-out);
      }
      svg#ico-svg-back-plus {
        opacity: 1;
      }
      .arrow-container-go-back {
        position: absolute;
        z-index: 1;
        left: 20px;
        top: 29px;
        svg {
          opacity: 0;
          width: 100%;
          height: 100%;
          path {
            fill: $primary-color;
          }
        }
      }
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      @include transition(all, 0.2s, ease-in-out);
      position: absolute;
      z-index: 3;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      top: -40px;
      right: 20px;
      left: unset;
      @media (min-width: 992px) {
        top: calc(50% - 50px);
        left: -40px;
        right: unset;
      }

      background: #f8f7f7;
    }
    max-width: 550px;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    @include flex(1);
    margin-top: 20px;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      max-height: 620px;
      margin-left: 0px;
    }
    @media (min-width: 992px) {
      margin-top: unset;
      margin-bottom: unset;
      margin-left: 40px;
      max-width: 620px;
    }
    box-sizing: border-box;
    .carousel-ux {
      max-height: 630px;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $light-silver;
      -webkit-animation: slideinEffectImg 0.6s forwards; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: slideinEffectImg 0.6s forwards; /* Firefox < 16 */
      -ms-animation: slideinEffectImg 0.6s forwards; /* Internet Explorer */
      -o-animation: slideinEffectImg 0.6s forwards; /* Opera < 12.1 */
      animation: slideinEffectImg 0.6s forwards;
      animation-delay: 0.3s;
      -webkit-animation-delay: 0.3s;
      transform-origin: right;
    }
  }
}
