@import "mixins";
@import "variables";
@import "overides";
@import "loading-animation";
@font-face {
  font-family: "Babas";
  src: url("../assets/fonts/bebas.eot") format("eot"),
    url("../assets/fonts/bebas.woff") format("woff"),
    url("../assets/fonts/bebas.ttf") format("truetype"),
    url("../assets/fonts/bebas.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir.otf");
  font-display: swap;
}

@font-face {
  font-family: "BabasLight";
  src: url("../assets/fonts/BebasNeueLight.otf") format("otf"),
    url("../assets/fonts/BebasNeueLight.ttf") format("truetype");
  font-display: swap;
}

html {
  font-size: 12px;
  --antd-wave-shadow-color: $black-text !important;
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $light-silver;
  overflow: auto;
  overflow-x: hidden;
  @media (min-width: 992px) {
    cursor: none;
  }
}
a {
  @media (min-width: 992px) {
    cursor: none;
  }
  &:focus,
  &:hover {
    @media (min-width: 992px) {
      cursor: none;
    }
  }
}
input {
  @media (min-width: 992px) {
    cursor: none;
  }
  &:focus,
  &:hover {
    @media (min-width: 992px) {
      cursor: none;
    }
  }
}

@include keyframes(sclae-infinite-curs) {
  0% {
    opacity: 0.8;
    @include transform(scale(0.9));
  }
  100% {
    opacity: 1;
    @include transform(scale(1.05));
  }
}

@include keyframes(sclae-infinite-curs-into) {
  0% {
    opacity: 0.8;
    @include transform(scale(0.9));
  }
  100% {
    opacity: 1;
    @include transform(scale(1.05));
  }
}

@include keyframes(expand-curs-anim) {
  0% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(1.5));
  }
  100% {
    @include transform(scale(1));
    opacity: 0;
  }
}

.ux-cursor {
  width: 31px;
  height: 31px;
  pointer-events: none;
  @include border-radius(100%);
  position: absolute;
  z-index: 9999999999999999999;
  border: 2px solid $black-text;
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
  &:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    left: 9px;
    top: 9px;
    display: block;
    @include border-radius(100%);
    margin: auto;
    background: $black-text;
    -webkit-animation: sclae-infinite-curs-into 0.5s infinite alternate; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: sclae-infinite-curs-into 0.5s infinite alternate; /* Firefox < 16 */
    -ms-animation: sclae-infinite-curs-into 0.5s infinite alternate; /* Internet Explorer */
    -o-animation: sclae-infinite-curs-into 0.5s infinite alternate; /* Opera < 12.1 */
    animation: sclae-infinite-curs-into 0.5s infinite alternate;
  }
  &.expand {
    -webkit-animation: expand-curs-anim 0.5s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: expand-curs-anim 0.5s forwards; /* Firefox < 16 */
    -ms-animation: expand-curs-anim 0.5s forwards; /* Internet Explorer */
    -o-animation: expand-curs-anim 0.5s forwards; /* Opera < 12.1 */
    animation: expand-curs-anim 0.5s forwards;
  }
  &.on-hover {
    -webkit-animation: sclae-infinite-curs 0.3s infinite alternate; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: sclae-infinite-curs 0.3s infinite alternate; /* Firefox < 16 */
    -ms-animation: sclae-infinite-curs 0.3s infinite alternate; /* Internet Explorer */
    -o-animation: sclae-infinite-curs 0.3s infinite alternate; /* Opera < 12.1 */
    animation: sclae-infinite-curs 0.3s infinite alternate;
    &:after {
      background: $primary-color;
    }
  }
  &.on-focus {
    width: 3px;
    @include border-radius(0);
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: $black-text;
  background: $primary-color;
}

::selection {
  color: $black-text;
  background: $primary-color;
}

@include keyframes(fade-opacity) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.app {
  position: relative;
  width: 100%;
  background: $light-silver;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include align-items(stretch);
  min-height: 100vh;
  height: auto;
  padding: 0 10px;
  @media (max-width: 320px) {
    padding: 0 0;
  }
  opacity: 0;
  -webkit-animation: fade-opacity 1s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-opacity 1s forwards; /* Firefox < 16 */
  -ms-animation: fade-opacity 1s forwards; /* Internet Explorer */
  -o-animation: fade-opacity 1s forwards; /* Opera < 12.1 */
  animation: fade-opacity 1s forwards;
}

.page-container {
  position: relative;
  width: 100%;
  margin-bottom: auto;
}

.fadetransition {
  top: 0;
  position: absolute;
}
.fadetransition-appear,
.fadetransition-enter {
  opacity: 0;
}

.fadetransition-appear-active,
.fadetransition-enter.fadetransition-enter-active {
  opacity: 1;
  transition: all 300ms linear 200ms;
}

.fadetransition-exit {
  opacity: 0;
}

.fadetransition-exit.fadetransition-exit-active {
  opacity: 0;
  transition: all 300ms linear;
}
//scroll bar

::-webkit-scrollbar {
  height: 10px;
  width: 0;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background: transparent;
  @include transition(all, 0.3s, ease-in-out);
}
::-webkit-scrollbar:hover {
  background: rgba(198, 199, 202, 0.47);
  @include transition(all, 0.3s, ease-in-out);
}
::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  @include transition(all, 0.3s, ease-in-out);
}
