@import "mixins";
@import "variables";
@import "overides";
@import "loading-animation";
@font-face {
  font-family: "Babas";
  src: url("../assets/fonts/bebas.eot") format("eot"),
    url("../assets/fonts/bebas.woff") format("woff"),
    url("../assets/fonts/bebas.ttf") format("truetype"),
    url("../assets/fonts/bebas.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir.otf");
}

@font-face {
  font-family: "BabasLight";
  src: url("../assets/fonts/BebasNeueLight.otf") format("otf"),
    url("../assets/fonts/BebasNeueLight.ttf") format("truetype");
}

html {
  font-size: 12px;
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $light-silver;
  overflow: auto;
}

.app {
  position: relative;
  width: 100%;
  background: $light-silver;
  min-height: 100vh;
}

.page-container {
  position: relative;
  width: 100%;
  padding: 0 10px;
  @media (min-width: 992px) {
    padding: 0 10.248901903367496%;
  }
}

.fadetransition {
  top: 0;
  position: absolute;
}
.fadetransition-appear,
.fadetransition-enter {
  opacity: 0;
}

.fadetransition-appear-active,
.fadetransition-enter.fadetransition-enter-active {
  opacity: 1;
  transition: all 300ms linear 200ms;
}

.fadetransition-exit {
  opacity: 0;
}

.fadetransition-exit.fadetransition-exit-active {
  opacity: 0;
  transition: all 300ms linear;
}
//scroll bar

::-webkit-scrollbar {
  height: 10px;
  width: 0;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background: transparent;
  @include transition(all, 0.3s, ease-in-out);
}
::-webkit-scrollbar:hover {
  background: rgba(198, 199, 202, 0.47);
  @include transition(all, 0.3s, ease-in-out);
}
::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  @include transition(all, 0.3s, ease-in-out);
}
