@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";
.search-card {
  width: 100%;
  padding: 0 20px;
  @include flexbox();
  grid-row-end: span 3;
  @media (min-width: 768px) {
    @include flexbox();
    max-height: 250px;
    svg {
      max-width: unset;

    }
    max-width: unset;
    @include justify-content(center);
    width: 100%;
    height: 1fr;
    @include flex-direction(column);
  }
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  svg {
    max-width: 30px;
    cursor: pointer;
    &:hover {
      path {
        @include transition(all, 0.2s, ease-in-out);
        fill: $black-text;
      }
    }
  }

  border-radius: 10px;
  background: #fff;
  box-shadow: 20px 20px 20px rgba(35, 29, 6, 0.05);

  h1 {
    color: $dark-silver;
    font-family: "Babas", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin: 0;
    max-width: 180px;
    @media (min-width: 992px) {
      font-size: 30px;
    }
  }
}
