@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.host-card {
  .badge-container {
    position: absolute;
    display: block;
    right: 15px;
    z-index: 1;
    width: 30px;
    height: 30px;
    top: 15px;
    background-image: url("../../assets/svg/badge-confirmed.svg");
  }
  opacity: 0;
  -webkit-animation: fade-in 1s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-in 1s forwards; /* Firefox < 16 */
  -ms-animation: fade-in 1s forwards; /* Internet Explorer */
  -o-animation: fade-in 1s forwards; /* Opera < 12.1 */
  animation: fade-in 1s forwards;
  cursor: pointer;
  @include transition(all, 0.2s, ease-in-out);
  display: inline-block;
  background: #ffffff;
  position: relative;
  height: 100%;
  width: 100%;
  @include border-radius(10px);
  overflow: hidden;
  grid-row: span 3;
  @media (min-width: 992px) {
    grid-row: span 3;
  }
  .images-container {
    @include border-radius(10px 0);
    @include flex(1);
    overflow: hidden;
    position: relative;
    background: #eaeaea;
    z-index: 0;
    height: 220px;
    width: 100%;
    @media (min-width: 992px) {
      height: 250px;
    }
    .svg-onload-container {
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      svg {
        max-width: 100px;
        max-height: 100px;
        @media (min-width: 992px) {
          max-width: 170px;
          max-height: 170px;
        }
      }
    }
    .img-bg {
      @include transition(all, 0.2s, ease-in-out);
      @include border-radius(10px 0);
      overflow: hidden;
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 100%;
      img {
      }
    }
    .profile-image {
      @include transition(all, 0.2s, ease-in-out);
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: 70px;
      height: 70px;
      @include border-radius(5px);
      overflow: hidden;
      img {
        @include border-radius(5px);
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .text-container {
    @include flex(1);
    @include flexbox();
    @include flex-direction(column);
    @include align-items(flex-start);
    box-sizing: border-box;
    padding: 10px;
    @media (min-width: 992px) {
      padding: 20px;
    }
    .description-h5 {
      color: #232323;
      font-size: 13px;
      font-family: "Avenir", sans-serif;
      margin-top: 10px;
    }
    .top {
      @include flex(1);
      width: 100%;
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(flex-start);
      h3 {
        font-size: 38px;
        line-height: 38px;
        margin: 0;
        padding: 0;
        font-family: "Babas", sans-serif;
        color: $primary-color;
        text-transform: uppercase;
      }
    }
    .bottom {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);

      svg {
        height: 15px;
        width: 15px;
      }
      p {
        margin: 0;
        padding: 0;
        font-family: "Avenir", sans-serif;
        color: #5a574c;
      }
    }
  }
  .infos-block {
    min-height: 40%;
    .arrow-button {
      position: absolute;
      right: 0;
      width: 50px;
      height: 30px;
      bottom: 10px;
      @media (min-width: 992px) {
        bottom: unset;
        top: 10px;
        width: 65px;
        height: 47px;
      }
      box-sizing: border-box;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      background: $white;
      @include border-radius(5px);
      margin-right: 10px;
      border: none;
      z-index: 2;
      &:focus {
        outline: none;
      }
      svg {
        width: 100%;
      }
    }
    pointer-events: none;
    @include transition(all, 0.2s, ease-in-out);
    @include flexbox();
    @include flex-direction(column);

    padding: 10px;
    @media (min-width: 992px) {
      padding: 20px;
    }
    background: #232323;
    width: 100%;
    height: auto;
    padding-top: 10px;
    position: absolute;
    bottom: -100%;
    z-index: 999999;
    font-family: "Avenir", sans-serif;
    @include justify-content(space-between);
    .top-items {
      @include flexbox();
      @include align-items(flex-start);
      width: 100%;
      margin-bottom: 25px;
      .text-infos-hover {
        svg {
          width: 15px;
        }
        h3 {
          margin: 0;
          padding: 0;
          margin-left: 10px;
          font-family: "Babas", sans-serif;
          color: $primary-color;
          text-transform: uppercase;
          font-size: 22px;
          @media (min-width: 992px) {
            font-size: 40px;
          }
        }
        p {
          margin: 0;
          svg {
            margin-right: 3px;
          }
          @media (min-width: 992px) {
            margin-top: -10px;
          }
          padding: 0;
          margin-left: 10px;
          font-size: 11px;
          @media (min-width: 992px) {
            font-size: 13px;
          }
        }
      }
      .profile-image {
        width: 40px;
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        @media (min-width: 992px) {
          max-width: 70px;
          max-height: 70px;
          min-height: 70px;
          min-width: 70px;
          width: 70px;
          height: 70px;
        }
        overflow: hidden;
        @include border-radius(5px);
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    .bot-items {
      display: none;
      @media (min-width: 992px) {
        @include flexbox();
      }
      .left,
      .right {
        @include flex(1);
        @include transition(all, 0.2s, 0.2s);
        @include transform(translateX(20px));
        opacity: 0;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        margin: 0;
      }
    }
    width: 100%;
    color: white;
    h5 {
      color: white;
      font-size: 15px;
      font-weight: bold;
    }
    h4 {
      font-size: 16px;
      font-weight: bold;
      color: white;
    }
  }
  &:hover {
    height: auto;

    .infos-block {
      bottom: 0;
      .left,
      .right {
        opacity: 1;
        @include transform(translateX(0px));
      }
    }
    .images-container {
      .img-bg {
        //filter:blur(5px);
      }
    }
    background: #232323;
    .bottom {
      p {
        color: white;
      }
    }
    .text-container {
      .top {
        .arrow-button {
          border: 0;
          svg {
            path {
              fill: $primary-color;
            }
          }
        }
      }
    }
  }
}
@include keyframes(fade-in) {
  0% {
    opacity: 0;
    @include transform(scale(0.95));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}
