@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.user-tab-only-mobile {
  z-index: 999;
  @include flexbox();
  @media (min-width: 992px) {
    display: none;
  }
  @include flex-direction(column);
  background: $white;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  padding-bottom: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  button {
    font-size: 1.3rem;
    font-family: "Avenir", sans-serif;
    color: $black-text;
    border: 0.1rem solid $primary-color;
    background: transparent;
    @include border-radius(4rem);
    &:focus {
      outline: none;
    }
    padding: 1rem;
    margin: 0.2rem 10%;
  }
  h1 {
    color: $dark-silver;
    font-family: "Babas", sans-serif;
    text-align: center;
    font-size: 4.3rem;
  }
  .img-container {
    display: block;
    width: 8rem;
    min-width: 8rem;
    min-height: 8rem;
    @include border-radius(100%);
    padding: 0.4rem;
    margin: 0 auto;
    margin-top: -3.6rem;
    overflow: hidden;
    height: 8rem;
    background: $white;
    img {
      @include border-radius(100%);
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.menu-icon {
  z-index: 9999999;
  padding-left: 10px;
  padding-right: 10px;
  @include flexbox();
  @include flex-direction(column);
  @media (min-width: 992px) {
    display: none;
  }
  span {
    width: 6px;
    height: 6px;
    transform-origin: center;
    &:nth-child(1) {
    }
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 4px;
    }
    background: $black-text;
    display: block;
    border-radius: 100%;
  }
}
.drawer {
  background: #232323;
  @include flexbox();
  @media (min-width: 992px) {
    display: none;
  }

  padding: 4% 20px;
  @include flex-direction(column);
  @include justify-content(flex-start);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding-bottom: 70px;
  height: 100vh;
  width: 100%;
  z-index: 999999;
  .brand {
    @include flex(3);
    @include flexbox();
    @include justify-content(flex-start);
    width: 100%;
    svg {
      width: 100%;
      max-width: 90px;
    }
  }
  .menu-items {
    @include flex(5);
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(flex-start);
    justify-self: flex-end;
    box-sizing: border-box;
    .nav-link {
      color: $primary-color;
      font-family: "Avenir", sans-serif;
      text-align: left;
      font-size: 34px;
      padding: 0 1%;
      margin: 0;
      position: relative;
      text-transform: capitalize;
      z-index: 1;
      &.let-me-in {
        color: $white;
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
        border: 0.1rem solid $white;
        @include border-radius(4rem);
        padding: 0.6rem 0rem;
        margin-top: auto;
        margin-bottom: 1rem;
      }
      &:hover {
        color: white;
      }
      &.active {
        color: white;
      }
    }
  }
  .bottom-links {
    @include flexbox();
    @include flex-direction(column);
    box-sizing: border-box;
    a {
      position: relative;
      color: $light-silver;
      opacity: 0.7;
      padding: 3px 5px;
      font-family: "Avenir", sans-serif;
      font-size: 12px;
      &:active {
        color: $white;
      }
      &:hover {
        &:before {
          width: 100%;
        }
        color: $black-text;
      }
    }
  }
}
