@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.button-rounded-link {
  @include flexbox();
  flex: 1;
  @include align-items(center);
  @include justify-content(space-arround);
  padding: 16px 18px;
  max-height: 60px;
  &:first-child {
    margin-right: 4px;
  }
  @media (min-width: 992px) {
    padding: 30px 40px;
    max-height: 80px;
    &:first-child {
      margin-right: 20px;
    }
  }
  border: 1px solid $primary-color;
  position: relative;
  font-family: "Avenir", sans-serif;
  text-transform: capitalize;
  color: $black-text;
  border-radius: 100px;
  @include transition(all, 0.2s, ease-in-out);

  span {
    font-size: 14px;
    margin-right: 6px;
    @media (min-width: 992px) {
      font-size: 16px;
      margin-right: 20px;
    }
  }
  &:hover {
    background: white;
    border-color: white;
    span {
      color: $black-text;
    }
  }
  &:visited,
  &:focus {
    color: $black-text;
    span {
      color: $black-text;
    }
  }
}
