@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.button-rounded-link {
  @include flexbox();
  overflow: hidden;
  cursor: pointer;
  @include flex(1);
  position: relative;
  @include align-items(center);
  @include justify-content(space-between);
  padding: 16px 18px;
  &:first-child {
    margin-right: 4px;
  }
  &:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;

    transform-origin:  center center;
    -webkit-transform-origin: center center;
    @include transform(translate(-50%, -50%));
    border-radius: 100%;
    background: $light-silver;
    @include transition(all, 0.53s, ease-in-out);
  }
  &:active{
    outline: none;
    background: transparent;
    @include transform(scale(.97));

    border-color: $light-silver;
  }
  @media (min-width: 992px) {
    padding: 30px 40px;
    max-height: 80px;
    &:first-child {
      margin-right: 20px;
    }
  }
  border: 1px solid $primary-color;
  position: relative;
  font-family: "Avenir", sans-serif;
  text-transform: capitalize;
  color: $black-text;
  border-radius: 100px;
  @include transition(all, 0.2s, ease-in-out);
  span{
    height: 100%;
    z-index: 1;
    position: relative;
  }
  span.arrow-container-span{
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
    z-index: 1;
    position: relative;
  }
  span.element-text {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    height: 100%;
    font-size: 14px;
    z-index: 1;
    padding: 0;
    @media (min-width: 992px) {
      font-size: 16px;
    }
  }
  svg{
    @include transition(all,0.2s,ease-in-out);
  }
  &:hover {
    background: $white;
    border-color: $white;
    span {
      color: $black-text;
      svg{

        @include transform(translateX(10px));
      }
    }

  }
  &:visited,
  &:focus {
    color: $black-text;
    span {
      color: $black-text;
    }
  }
}
