@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";
.join-us-card {
  opacity: 0;
  -webkit-animation: fade-in 1s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-in 1s forwards; /* Firefox < 16 */
  -ms-animation: fade-in 1s forwards; /* Internet Explorer */
  -o-animation: fade-in 1s forwards; /* Opera < 12.1 */
  animation: fade-in 1s forwards;
  overflow: hidden;
  .text-link-join {
    @include align-items(center);
    margin: 0;
    padding: 0;
  }
  &:focus {
    @include transform(scale(0.97));
  }
  .text-form-j2 {
    opacity: 0;
    width: 90%;
    position: absolute;
    bottom: -30px;
    right: 0;
    @include transition(all, 0.2s, ease-in-out);
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(flex-end);
    p {
      margin: 0;
      padding: 0;
      @include flex(1);
      color: $dark-silver !important;
      max-width: 148px;
      opacity: 0;
      @include transition(all, 0.3s, ease-in-out);
      text-align: center;
      margin: 0 auto;
    }

    @media (min-width: 768px) {
      bottom: -50px;
      right: unset;
      @include align-items(stretch);
      @include justify-content(flex-start);
      @include flex-direction(column);
    }
    height: 0px;
    @include transform-origin(bottom);

    a {
      position: relative;
      @include flex(1);
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      background: transparent;
      border: 0;
      margin: 0;
      margin-top: unset;
      @media (min-width: 768px) {
        margin-top: 10px;
      }
      width: 100%;
      padding: 5px 10px;
      outline: none;
      @include transition(all, 0.2s, ease-in-out);
      &:active {
        @include transform(translateX(10px));
      }
      &:focus {
        outline: none;
      }
      svg {
        path {
          fill: $primary-color;
        }
      }
    }
  }
  position: relative;
  display: inline-flex;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  @include transition(all, 0.2s, ease-in-out);
  width: 100%;
  padding: 10px 20px;
  @media (min-width: 768px) {
    padding: 30px 20px;
  }
  svg {
    max-width: 30px;
    @include transition(all, 0.2s, ease-in-out);
    @media (min-width: 768px) {
      @include transform(translateY(30px));
      max-width: 50px;
      min-width: 50px;

      min-height: 60px;
    }
  }

  &:hover {
    .text-form-j2 {
      opacity: 1;
      height: auto;

      @include transform(translateY(-45px));
      @media (min-width: 768px) {
        @include transform(translateY(-35%));
      }
      p {
        opacity: 1;
      }
    }
    background: $white;
    box-shadow: 20px 20px 20px rgba(255, 204, 0, 0.2);
    svg {
      @include transform(translateY(0));
      path {
        fill: $primary-color;
      }
    }
    .text-link-join {
      color: $black-text;
      font-size: 14px;
      @media (min-width: 768px) {
        font-size: 24px;
      }
    }
    p {
      &#text-j1 {
        opacity: 0;
        @include transform(translateY(-10px));
      }
    }
    h1,
    h2 {
      opacity: 0;
      @media (min-width: 768px) {
        opacity: 1;
        @include transform(translateY(-20px));
      }
    }
  }
  @media (min-width: 768px) {
    display: inline-flex;
    @include flex-direction(column);
    grid-column: 1;
    grid-row: span 3;
    margin-right: 0;
  }

  grid-row: span 1;
  grid-column: 1 / 3;

  @media (min-width: 1300px) {
    grid-row: span 3;
  }
  @media (min-width: 992px) {
    margin-bottom: 0;
    grid-row: span 3;
    box-sizing: border-box;
    border: none;
    svg {
      max-width: unset;
    }
    padding: 20px;
    @include flex-direction(column);
  }
  border-radius: 10px;
  background: $primary-color;
  box-shadow: 20px 20px 20px rgba(255, 204, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
  .text-big {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    margin: auto;
    &::selection {
      background: transparent;
    }
  }
  h1 {
    font-size: 40px;
    line-height: 30px;
    color: $black-text;
    font-family: "Babas", sans-serif;
    margin: 0;
    width: 100%;
    display: block;
    padding: 0;
    text-transform: uppercase;
    @include transition(all, 0.2s, ease-in-out);
    @media (min-width: 768px) {
      font-size: 70px;
      line-height: 80px;
    }
    @media (min-width: 992px) {
      font-size: 100px;
      line-height: 100px;
    }
  }
  h2 {
    font-size: 10px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    color: $black-text;
    @include transition(all, 0.2s, ease-in-out);
    font-family: "Babas", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
    }
    @media (min-width: 992px) {
      margin-bottom: 50px;
      font-size: 24px;
    }
  }

  p {
    @include transition(all, 0.2s, ease-in-out);
    color: white;
    font-family: "Babas", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    &#text-j1 {
      display: block;
      opacity: 1;
    }
    &:hover,
    &:visited,
    &:focus {
      color: white;
    }
  }
}

@include keyframes(fade-in) {
  0% {
    opacity: 0;
    @include transform(scale(0.95));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}
