@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";
.join-us-card {
  opacity: 0;
  -webkit-animation: fade-in 1s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-in 1s forwards; /* Firefox < 16 */
  -ms-animation: fade-in 1s forwards; /* Internet Explorer */
  -o-animation: fade-in 1s forwards; /* Opera < 12.1 */
  animation: fade-in 1s forwards;
  .text-link-join{
    @include align-items(center);
    margin: 0;padding: 0;
  }
  &:hover{
    background: $white;
    box-shadow: 20px 20px 20px rgba(255, 204, 0, 0.2);
    svg {
      path{
        fill: $primary-color;
      }
    }
    .text-link-join{
      color: $black-text;
    }
    p{
      &#text-j1 {
        opacity: 0 !important;
        display: none;
      }
      &#text-j2{
        display: block;
        opacity: 1;
        @include transform(translateY(-20px));
      }
    }
  }
  position: relative;
  display: inline-flex;
  @include flex-direction(row);
  @include align-items(center);
  background: red;
  @include justify-content(space-between);
  @include transition(all, 0.2s,ease-in-out);
  width: 100%;
  padding: 10px 20px;
  svg {
    max-width: 30px;
  }
  @media (min-width: 768px) {
    display: inline-flex;
    @include flex-direction(column);
    grid-column: 1 ;
    grid-row: span 3;
    margin-right: 0;
  }

  grid-row: span 1;
  grid-column: 1 / 3;

  @media (min-width: 1300px) {
    grid-row:span 3;

  }
  @media (min-width: 992px) {
    margin-bottom: 0;
    grid-row: span 3;
    box-sizing: border-box;
    border: none;
    svg {
      max-width: unset;
    }
    padding: 20px;
    @include flex-direction(column);
  }
  border-radius: 10px;
  background: $primary-color;
  box-shadow: 20px 20px 20px rgba(255, 204, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
  .text-big {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    height: 70px;
  }
  h1 {
    font-size: 40px;
    line-height: 30px;
    color: $black-text;
    font-family: "Babas", sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    @media (min-width: 992px) {
      font-size: 100px;
      line-height: 100px;
    }
  }
  h2 {
    font-size: 10px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    color: $black-text;
    font-family: "Babas", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
      font-size: 24px;
    }
  }
  p {
    @include transition(all, 0.2s,ease-in-out);
    color: white;
    font-family: "Babas", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    &#text-j1 {
      display: block;
      opacity: 1;
    }
   &#text-j2{
     display: none;
     opacity: 0;
     @include transition(all,0.2s,ease-in-out);
   }
    &:hover,
    &:visited,
    &:focus {
      color: white;
    }
  }
}

@include keyframes(fade-in) {
  0% {
    opacity: 0;
    @include transform(scale(.95));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}