@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.events-page {
  display: block;
  margin: auto;
  max-width: 1200px;
  .row-container {
    @include flexbox();
    width: 100%;
    flex: 1;
    @include flex-direction(column);
    @media (min-width: 992px) {
      @include flex-direction(row);
    }
    @include justify-content(space-between);
    @include align-items(flex-start);
    height: 100%;
    min-height: calc(100vh - 300px);
    position: relative;
    .left {
      position: relative;
      height: 100%;
      flex: 1;
      @include flexbox();
      @include flex-direction(column);
      @include align-items(flex-start);
      @include justify-content(space-between);
    }
    .right {
      margin-left: 0px;
      flex: 1;
      position: relative;
      width: 100%;
      @include flexbox();
      @include flex-direction(column);
      @include align-items(flex-start);
      @media (min-width: 992px) {
        margin-left: 30px;
        @include align-items(flex-end);
      }
    }
  }
}
