@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";
.footer {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  @include align-self(flex-end);
  box-sizing: border-box;
  justify-self: flex-end;
  position: sticky;
  top: 100%;
  width: 100%;
  padding: 2.9282576866764276% 10px;
  @media (min-width: 992px) {
    padding: 0.9282576866764276% 10px;
  }
  .max-width-row {
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    max-width: calc(1200px - 1%);
    .right {
      margin-left: auto;
      display: none;
      @media (min-width: 992px) {
        margin-left: unset;
        @include flexbox();
      }
    }
  }
  a {
    position: relative;
    color: $dark-silver;
    opacity: 0.7;
    padding: 3px 5px;
    font-family: "Avenir", sans-serif;
    @include transition(all, 0.2s, ease-in-out);
    font-size: 12px;
    &:active {
      color: $white;
    }
    &.active {
      color: $black-text;
      &:before {
        width: 100%;
      }
    }
    &:hover {
      &:before {
        width: 100%;
      }
      color: $black-text;
    }
  }
}
