@import "../../stylesheets/mixins";
@import "../../stylesheets/variables";

.result-search-talents-page {
  @include flexbox();
  position: relative;
  width: 100%;
  .max-width-container {
    display: block;
    margin: auto;
    width: 100%;
    position: relative;
    max-width: calc(1200px - 1%);
    padding: 0 10px;
    @media (min-width: 992px) {
      padding: 0 10px;
    }
    .row-container {
      position: relative;
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(stretch);

      width: 100%;
      .top-elements {
        display: grid;
        width: 100%;
        grid-auto-rows: 100px;
        .text-title-of-search {
          h1 {
            font-family: "Babas", sans-serif;
            color: #5a574c;
            opacity: 0.5;
            font-size: 20px;
            line-height: 20px;
            margin: 0;
            padding: 0;
            @media (min-width: 992px) {
              font-size: 24px;
              line-height: 24px;
            }
          }
          h2 {
            font-family: "Babas", sans-serif;
            font-size: 40px;
            line-height: 40px;
            margin: 0;
            padding: 0;
            color: $primary-color;
            @media (min-width: 992px) {
              font-size: 60px;
              line-height: 60px;
            }
            span {
              font-family: "BabasLight", sans-serif;
              color: $black-text;
            }
          }
          p {
            font-family: "Avenir", sans-serif;
            color: $black-text;
            font-size: 16px;
            opacity: 0.5;
          }
        }
        .search-card {
          @include flex(1);
          @include flexbox();
          @include flex-direction(row);
          @include justify-content(flex-start);
          @include align-items(center);
          @include border-radius(10px);
          padding: 20px;
          max-height: 60px;
          .search-icon-container-bar {
            @include flex(1);
            padding: 0;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
          }
          box-sizing: border-box;
          background: $white;
          margin-top: 10px;
          svg {
            max-width: 35px;
          }
          @media (min-width: 992px) {
            padding: 24px;
            max-height: 100px;
            margin-top: unset;
          }
          span {
            @include flex(1 / 3);
            max-width: 40px;
          }
          h1 {
            @include flex(1);
            @include flexbox();
            max-width: unset;
            @include justify-content(flex-start);
            @include align-items(center);
            margin: 0;
            width: 100%;
            min-width: 220px;
            padding: 0 10px;
            text-align: left !important;
            height: 100%;
            font-size: 20px;
            font-family: "Babas", sans-serif;
            color: #5a574c;
            @media (min-width: 600px) {
              font-size: 26px;
              line-height: 26px;
            }
            @media (min-width: 1200px) {
              font-size: 26px;
              line-height: 26px;
            }
            @media (min-width: 1366px) {
              font-size: 26px;
              line-height: 26px;
            }
          }
        }
      }
      .results-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include justify-content(stretch);
        grid-auto-rows: 60px;
        grid-gap: 12px;
        @media (min-width: 768px) {
          grid-template-columns: repeat(3, 1fr);
          grid-auto-rows: 100px;
          grid-auto-flow: dense;
          grid-gap: 30px;
        }
        @media (min-width: 992px) {
          grid-auto-rows: 100px;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 38px;
        }
        @media (min-width: 1300px) {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}
