@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.talents-page {
  display: block;
  margin: auto;
  max-width: 1200px;
  .cards-container {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
  }
  .columns-container {
    column-count: 2;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    @media (min-width: 768px) {
      column-count: 3;
    }
    @media (min-width: 992px) {
      column-count: 3;
    }
    @media (min-width: 1300px) {
      column-count: 4;
    }
    column-gap: 60px;
  }
}
