@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";
.logo-svg-navbar-container{
  position: relative;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  #logo-part-top-ux{
    opacity: 0;
    -webkit-animation: fade-in 1s forwards 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fade-in 1s forwards 1s; /* Firefox < 16 */
    -ms-animation: fade-in 1s forwards 1s; /* Internet Explorer */
    -o-animation: fade-in 1s forwards 1s; /* Opera < 12.1 */
    animation: fade-in 1s forwards 1s;
  }
  #ux-word-logo-par{
    position: absolute;
    top: 100%;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
  }
}